spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/orm
    username: orm
    password: orm
  sql:
    init:
      mode: always
  jpa:
    defer-datasource-initialization: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

server:
  port: 8080

springdoc:
  api-docs:
    path: /v3/api-docs
